<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire ajout de jeux</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <form method="post" action="/api/games">
      <div>
        <label for="nom">Nom du jeu :</label>
        <input type="text" id="nom" name="nom" required />
      </div>
      <div>
        <label for="editeur">Editeur :</label>
        <input type="text" id="editeur" name="editeur" required />
      </div>
      <div>
        <label for="nbJoueurs">Nombre de joueurs :</label>
        <input type="number" id="nbJoueurs" name="nbJoueurs" required />
      </div>
      <div>
        <label for="duree">Durée (en minutes) :</label>
        <input type="number" id="dureePartie" name="dureePartie" required />
      </div>
      <div>
        <label for="cooperatif">Coopératif : </label>
        <select id="cooperatif" name="cooperatif">
          <option value="oui">Oui</option>
          <option value="non">Non</option>
        </select>
      </div>
      <div>
        <label for="categorie">Catégorie :</label>
        <select id="categorie" name="categorie">
          <% categories.forEach(category => { %>
          <option value="<%= category %>"><%= category %></option>
          <% }) %>
        </select>
      </div>
      <button type="submit">Ajouter</button>
    </form>
    <a href="/api/games" class="button-list">Liste des jeux</a>
    <!-- <a href="/modifier-jeu" class="button-modify">Modifier un jeu</a> -->
    <a href="/login/admin" class="button-logout">Déconnexion</a>
  </body>
</html>
