<!DOCTYPE html>
<html>
  <head>
    <title>Page de connexion</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="form-container">
      <form method="post" action="/api/login" class="form-style">
        <div>
          <label for="username">Nom d'utilisateur :</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div>
          <label for="password">Mot de passe :</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button class="button-style" type="submit">Se connecter</button>
        <div>
          <a href="" class="forgot-pwd">Mot de passe oublié</a>
        </div>
      </form>
    </div>

    <% if (messages.length > 0) { %>
    <div class="flash-message">
      <% for (let i = 0; i < messages.length; i++) { %>
      <span><%= messages[i] %></span><br />
      <% } %>
    </div>
    <% } %>
  </body>
</html>
