<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire ajout de jeux</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <form method="post" action="/ajouter-jeu">
      <div>
        <label for="nom">Nom du jeu :</label>
        <input type="text" id="nom" name="nom" required />
      </div>
      <div>
        <label for="editeur">Editeur :</label>
        <input type="text" id="editeur" name="editeur" required />
      </div>
      <div>
        <label for="nbJoueurs">Nombre de joueurs :</label>
        <input type="number" id="nbJoueurs" name="nbJoueurs" required />
      </div>
      <div>
        <label for="duree">Durée (en minutes) :</label>
        <input type="number" id="dureePartie" name="dureePartie" required />
      </div>
      <div>
        <label for="cooperatif">Coopératif : </label>
        <select id="cooperatif" name="cooperatif">
          <option value="oui">Oui</option>
          <option value="non">Non</option>
        </select>
      </div>
      <!-- <div>
      <label for="categorie">Catégorie :</label>
      <select id="categorie" name="categorie">
        <option value="Stratégie">Stratégie</option>
        <option value="Famille">Famille</option>
        <option value="Party game">Party game</option>
        <option value="Enfant">Enfant</option>
        <option value="Coopératif">Coopératif</option>
        <option value="Deck building">Deck building</option>
        <option value="Cartes">Cartes</option>
        <option value="Roll&Write">Roll & write</option>
      </select>
    </div> -->
      <button type="submit">Ajouter</button>
    </form>
    <a href="/jeux" class="button-list">Liste des jeux</a>
    <a href="/login/admin" class="button-logout">Déconnexion</a>
  </body>
</html>
