<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Liste des jeux</title>
  </head>
  <body>
    <h1>Liste de jeux en BDD</h1>
    <ul>
      <% jeux.forEach(jeu => { %>
      <li class="liste-jeux"><%= jeu.nom %> - <%= jeu.editeur %></li>
      <% }) %>
    </ul>
    <a href="/game/add" class="button-add">Ajouter un jeu</a>
  </body>
</html>
