<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Liste des jeux</title>
  </head>
  <body>
    <h1>Liste de jeux en BDD</h1>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Éditeur</th>
          <th>Catégorie</th>
          <th>Supprimer</th>
        </tr>
        <tbody>
          <% jeux.forEach(jeu => { %>
          <tr>
            <td><%= jeu.nom %></td>
            <td><%= jeu.editeur %></td>
            <td><%= jeu.categorie %></td> 
            <td><a href="/game/delete/<%= jeu._id %>" class="button-delete">x</a></td>
          </tr>
          <% }) %>
        </tbody>
      </thead>
    </table>
    <a href="/game/add" class="button-add">Ajouter un jeu</a>
  </body>
</html>
