/* Police */
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap");

body {
  font-family: "Maven Pro", sans-serif;
}

h1 {
  color: crimson;
  text-align: center;
  padding-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button {
  margin-top: 1rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  background-color: #33659bdf;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #044890;
}

.flash-message {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: crimson;
}

.button-list {
  background-color: #33659bdf;
  color: white;
  font-size: 1.2rem;
  padding: 0.7rem 0.9rem;
  /* padding: 10px 20px; */
  border-radius: 5px;
  text-decoration: none;
  position: fixed;
  top: 25px;
  left: 25px;
}

.button-list:hover {
  background-color: #044890;
}

.button-add {
  background-color: #33659bdf;
  color: white;
  font-size: 1.2rem;
  padding: 0.7rem 0.9rem;
  /* padding: 10px 20px; */
  border-radius: 5px;
  text-decoration: none;
  position: fixed;
  top: 25px;
  left: 25px;
}

.button-add:hover {
  background-color: #044890;
}

.button-modify {
  background-color: #33659bdf;
  color: white;
  font-size: 1.2rem;
  padding: 0.7rem 0.9rem;
  /* padding: 10px 20px; */
  border-radius: 5px;
  text-decoration: none;
  position: fixed;
  top: 20px;
  left: 230px;
}

.button-modify:hover {
  background-color: #044890;
}

.button-delete {
  font-size: 22px;
  color: crimson;
  text-decoration: none;
  text-align: center;
}

.button-delete:hover {
  color: #044890;
}

.button-logout {
  background-color: #374350df;
  color: white;
  font-size: 1.2rem;
  padding: 0.7rem 0.9rem;
  /* padding: 10px 20px; */
  border-radius: 5px;
  text-decoration: none;
  position: fixed;
  top: 20px;
  right: 50px;
}

.button-logout:hover {
  background-color: #2b333a;
}

.fomr-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.forgot-pwd {
  text-decoration: none;
  color: darkblue;
  font-style: italic;
  padding-top: 15px;
  font-size: 15px;
}

.liste-jeux {
  font-size: 1.4rem;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  margin-top: 50px;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}

.styled-table thead tr:first-child th:first-child {
  border-radius: 5px 0 0 0;
}

.styled-table thead tr:first-child th:last-child {
  border-radius: 0 5px 0 0;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
